.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  max-width: 1600px;
  background-color: rgb(235, 235, 235);
}
.content {
  width: 90%;
  margin: 40px;
  display: flex;
  flex-direction: row;
  border-left: 2px solid;
  border-right: 0.5px rgb(0, 0, 0);
}
